/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT */
html, body, #root {
  width: 100%;
  height: 100%;
  background: #020617;
  color: white;
}
/* BODY */
body {
  font-family: system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}
